PORT=8000
MONGODB_URI=mongodb+srv://kanhaiya:your-password@cluster0.qpwnm64.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKENS_SECRET=video-streaming-secret

ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=video-streaming-refresh-secret
REFRESH_TOKEN_EXPIRY=10d



CLOUDINARY_CLOUD_NAME=my_cloud_name
CLOUDINARY_API_KEY=my_key
CLOUDINARY_API_SECRET=my_secret